
header{
    
    width: 1440px;
    height: 576px;
    background-color: #F0FFF0;
    padding: 50px 150px;
    border: 1px solid red;
}



.navbar img{

    height: 100%;
    width: 200px;

}

.btn{
    border-radius: 33px;
    background-color: #21B573;
    color: #fff;
}
.span-cl{
    color: #21B573;
}
.red{
    color: #f0331ad8;
}
.navbar-brand{

    font-size: 16px;
    color: red;
    
}
.navbar-brand :hover{
    color: brown;
}


.carousel-inner img{
    width: 100%;
}
.carousel{
    margin-top: 30px;
    padding: 15px 25px;
}
.row{
    padding: 50px 0 ;
    padding-right: 300px;
    width: 1440px;

}

.new-row{

    width: 1440px;
    height: 576px;
    padding: 50px 130px;
    border: 1px solid red;
    
}
.box{
    width: 270px;
    height: 270px;
    margin-left:20px;
    background-color: #F0FFF0;
    text-align: center;
    padding-top: 30px;
    border-radius: 8px;
    float: left;
}
.box:hover{
    background-color: #fff;
    box-shadow: 5px 5px 8px gray;
    
    
}

.box img{
    width: 80px;
    height: 80px;
}
.oneline-courses{

    width: 1440px;
    height: 630px;
    padding: 0 150px;
    border: 1px solid red;

}
.card{

    width: 370px;
    height: 483px;

    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;


}

.card .img-oc{
    width: 331;
    height: 234;
}
.card .h-oc{
    width: 237px;
    width: 36;

}

.card .p-oc{
    width: 96px;
    height: 24px;
    
}

.card .b-oc{
    width: 137px;
    height: 35px;
    
}


.card-footers{
    margin-top: 100px;
    border: none;
    padding: 35px 0;
}
.calender{
    width: 24px;
    height: 24px;
    float: left;
}

.calender img{
    width: 100%;
    height: 100%;
    
}
.date{

    width: 146px;
    height: 24px;
    float: left;
    padding: 3px;
}
.people{
    width: 20px;
    height: 20px;
    float: right;
}
.people img{
    width: 100%;
    height: 100%;
    
    
}
.seats{
    width: 68px;
    height: 24px;
    float:right;
    padding: 3px;
}